@model IEnumerable<zgstumpf_Assignment3.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}


<h1>Movies</h1>

<p>
    <a asp-action="Create">Add a movie</a>
</p>
<table class="table make-data-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>IMDb Link</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Media</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                     <a href="@Html.DisplayFor(modelItem => item.ImdbHyperlink)" target="_blank" rel="noopener noreferrer">@Html.DisplayFor(modelItem => item.ImdbHyperlink)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    <img class="media-image-in-table" src="@Html.DisplayFor(modelItem => item.MediaUrl)" alt="An image relevant to the specific movie.">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

