@using Tweetinvi;
@using VaderSharp2;
@model zgstumpf_Assignment3.Models.Actor

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            IMDb Link
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbHyperlink)
        </dd>
        <dt class = "col-sm-2">
            Photo URL
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to actors</a>
</div>

@{
    var actorName = Model.Name;

    // Punctuation such as colons may interfere with Twitter's search API
    var actorNameNoPunctuation = new string(actorName.Where(c => !char.IsPunctuation(c)).ToArray());

    var userClient = new TwitterClient("AAx9UfdCemph0Pg0t8Moq5c6L", "LbhoERpFGjBESYSNjTHuRvE0R80cGxZBx5lJWanM5lFpO2Hs63", "1455230009153503238-WTxQgoYUAQ3D9PTSsUu8stHkmJvuVe", "2ZVnM9tWbCSNAhyJcyC4WPIgiIbUWZ77MTLSx2Qb8TkW3");
    var searchResponse = await userClient.SearchV2.SearchTweetsAsync(actorNameNoPunctuation);
    var tweets = searchResponse.Tweets;
    var analyzer = new SentimentIntensityAnalyzer();

    // Calculate average or overall sentiment score
    double totalSentimentScore = 0;
    foreach (Tweetinvi.Models.V2.TweetV2 tweet in tweets)
    {
        totalSentimentScore += analyzer.PolarityScores(tweet.Text).Compound;
    }
    double overallSentimentScore = Math.Round((totalSentimentScore / tweets.Length), 2);
}

<div id="ActorTweets">
    <h4>Tweets</h4>
    <h5>Overall sentiment analysis: @overallSentimentScore</h5>
    <p>A score greater than 0 means overall sentiment is positive, and a negative score means overall sentiment is negative.</p>

    <table class="make-data-table">
        <thead>
            <tr>
                <th>Top 100 Tweets</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (Tweetinvi.Models.V2.TweetV2 tweet in tweets){
                <tr>
                    <td>@tweet.Text</td>
                    <td>@analyzer.PolarityScores(tweet.Text).Compound</td>
                </tr>
            }
        }
        </tbody>
    </table>


</div>